*{
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body{
   /*  position: relative; */
  
    display: flex;
    justify-content: center;
    height: auto;
   

}
.loading-screen-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.loading-screen{
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;
    z-index: 1;
   
    filter: blur(5px);
    z-index: 1;
}
.loading-spinner{
    position: absolute;
    z-index: 2;
}
.navigation{
    position: relative;
   
}
.body-panel{
   /*  position: relative; */
    border: 1px solid red;
    width: 80vw;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.search-bar{
    position: relative;
    margin-top: 1rem;
    width: 50%;
    height: 2rem;
    
}
.card-container{
   /*  position: relative; */
  
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
    width: 100%;
    padding-left: 1.5rem;
}
.cards{
    padding: 1rem;
    margin-right: 1rem;
   
    border-radius: 5px;
    background-color:#378af8;
    display: flex;
    width: 25rem;
    gap: 1rem;
}
.cards div:first-child{
   
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   margin-left: 1rem;
   flex-direction: column;
   width: 18rem;
   gap: 1rem;
   color: white;
}
.cards div:nth-child(2){
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    font-size: 5em;
 }
.card-container img{
    width: 64px;
}


.btn-update,.btn-delete{
    width: 20rem;
    margin-top:1rem
}
.scrollpane-container{
   
    
    width: 100%;
    height:40rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.loading-screen-container-scrollpane{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:40rem;
}
.loading-screen-scollpane{
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height:40rem;
    z-index: 1;
    filter: blur(5px);
    z-index: 1;
}

.crud-alert{
    position: absolute;
    border: 1px solid red;
    border-radius: 15px;
    background-color: dodgerblue;
    width: auto;
    height: 80vh;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.display-none{
    transform: scale(0);
}
.display-block{
    transform: scale(1);
    transition: 0.2s;
}


.close-button{
    margin-left: 20rem;
   padding: 1rem;
   color: red;
   background-color: transparent;
   border: none;
}
.btn-close-container{
   
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 4rem;
    padding: 1rem;
}
.crud-container{
    position: relative;
   
    width: 75vw;
    height:auto;
    height: auto;
    display: flex;
    margin: 1rem;

}
.crud-img{
   
    width: 50vw;
    height: auto;   
    display: flex;
   
}
.crud-img img{
    position: relative;
    width: 100%;

}
.crud-info{
  
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.crud-alert-container{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100vw;
    height:100%;
    
    z-index: -1;
}
.zindex-on{
    z-index: 1;
}
.blur{
    filter: blur(5px);
}
.btnAdd{

    width: 20rem;
    margin-top: 0.5rem;
   
}
.button-update{
  
    z-index: 2;
}
.align-items-center{
    justify-content: center;
    align-items: center;
}
Table tr{
    cursor: pointer;
}
.card-container button{
    border: none;
}
.card-container button:hover{
    background-color:var(--bg-color);
}
.table-container{
    position: relative;
   
    width: 100%;
    height: 50rem;
}
.table-container .table Table tr{
   
    text-align: center;
    vertical-align: middle;
    
    height: 5rem;
}
.table-container Button{
    margin: 1rem;
}
.test-container{
    border: 1px solid red;
    height: 10rem;
}