*{
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body{
    display: flex;
    justify-content: center;
    height: auto;
   

}


.body-panel{
    width: 80vw;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.btn-update,.btn-delete{
    width: 20rem;
    margin-top:1rem
}
.scrollpane-container{
    margin-top: 2rem;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.crud-alert{
    position: absolute;
    
    width: auto;
    height: auto;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.display-none{
    transform: scale(0);
}
.display-block{
    transform: scale(1);
    transition: 0.2s;
}


.close-button{
    margin-left: 20rem;
   padding: 1rem;
   color: red;
   background-color: transparent;
   border: none;
}
.btn-close-container{
   
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 4rem;
    padding: 1rem;
}
.crud-container{
    position: relative;
   
    width: 75vw;
    height:auto;
    height: auto;
    display: flex;
    margin: 1rem;

}
.crud-img{
   
    width: 50vw;
    height: auto;   
    display: flex;
   
}
.crud-img img{
    position: relative;
    width: 100%;

}
.crud-info{
  
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.crud-alert-container{
    position: fixed;
    display: flex;
    justify-content: center;
    
    width: 100vw;
    height:100%;
    
    z-index: -1;
}
.zindex-on{
    z-index: 1;
}
.blur{
    filter: blur(5px);
}
.btnAdd{

    width: 20rem;
    margin-top: 1rem;
    margin-left: 4rem;
}
.card-container{
   
    
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    width: 100vw;
}
.cards{
    padding: 1rem;
    margin-right: 1.5rem;
   
    border-radius: 5px;
    background-color:#378af8;
    display: flex;
    width: 25rem;
    gap: 1rem;
}
.cards div:first-child{
   
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   margin-left: 1rem;
   flex-direction: column;
   width: 18rem;
   gap: 1rem;
   color: white;
}
.cards div:nth-child(2){
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
    color: white;
    font-size: 5em;
 }
.card-container img{
    width: 64px;
}